@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  text-decoration: none
}

:root {
  --white: #fafafa;
  --dark: #212121;
  --silver: #777777;
}

html,
body {
  font-family: "Nunito", sans-serif;
  min-width: 100%;
  min-height: 100vh;

  display: flex;
  font-size: 16px;
  color: var(--dark);
  background: var(--white);
}

#app {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.headers {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 70px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 3px var(--dark);
  background: var(--white);
  z-index: 20;
}

.headers-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 60px;
}

.headers-nav button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  background: transparent;
}

.headers .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  min-height: 70px;
}

.logo-name {
  position: relative;
  display: flex;
  flex-direction: column;
}

.logo-name span {
  position: absolute;
  bottom: -2px;
  right: 0;
  font-size: 10px;
}

.profile-photo {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-photo img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

/* end Headers */

.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  min-width: 100%;
  min-height: 70px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 0 3px var(--dark);
  background-color: var(--white);
}

a {
  color: var(--dark);
}

a.nav-link {
  padding: 5px;
  border-radius: 5px;
}

a.nav-link i {
  margin-right: 5px;
}

a.nav-link span {
  font-weight: 600;
}

a.active-link {
  transition: all ease-in-out .4s;
  background: var(--dark);
  color: var(--white);
}

#app .title {
  text-align: center;
  padding: 20px 0;
  font-size: 3.4rem;
}

.main {
  margin: 70px 0;
  background-color: #F0F1F3;
  min-height: calc(100% - 70px);
}

.title-page {
  text-align: center;
  margin: 10px 0;
}

.panel {
  width: 100%;
  min-height: 150px;
  max-height: 150px;
  padding: 5px;
}

input {
  width: 100%;
  min-height: 50px;
  padding: 0 10px;
  font-size: 1.2em;
  border-radius: 12px;
  border: solid 1px transparent;
  margin-bottom: 5px;
}
input:hover {
  opacity: 0.8;
}
input:focus {
  outline: solid 1px var(--silve);
  box-shadow: inset 0 0 3px var(--dark);
}

.panel button {
  width: 100%;
  min-height: 50px;
  max-height: 50px;
  border: solid 1px transparent;
  border-radius: 5px;
  font-size: 1.2em;
}

.panel button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.panel button:active {
  box-shadow: inset 0 0 3px var(--dark);
}

.panel-group {
  display: flex;
  gap: 1px;
  padding: 0 20px;
}

.panel-group input {
  border-radius: 15px 0 0 15px;
}

.panel-group button {
  width: 50px;
  border-radius: 0 15px 15px 0;
  background-color: var(--white);
}

.list  {
  list-style: none;
  padding: 10px;
}

.list-item {
  display: flex;
  gap: 10px;
  width: 100%;
  max-width: 400px;
  min-width: 340px;
  height: 200px;
  background-color: var(--white);
  margin-bottom: 10px;
  border-radius: 12px;
  padding: 10px;
  overflow: hidden;
}

.item-img {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 180px;
  max-height: 100%;
}

.item-img img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 0 3px var(--dark);
}

.item-favorite {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #ff442c;

  background: rgba( 255, 255, 255, 0.05 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  border-radius: 10px;
  -webkit-backdrop-filter: blur( 4px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.item-details {
  width: 100%;
}

.item-details h2 {
  text-align: center;
  margin: 8px 0;
}

.item-details > span {
  display: block;
  text-align: center;
  color: var(--silver)
}

.item-details h3 {
  text-align: center;
  margin: 8px 0;
  font-size: 1.4em;
}

.increments {
  display: flex;
  justify-content: space-around;
}

.increments button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 1.2em;
}

.increments button:hover {
  opacity: 0.8;
  cursor: pointer;
}
.increments button:active {
  outline: solid 1px var(--dark)
}


.increments span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}

@media only screen and (min-width: 780px) {
  .list {
    display: flex;
  }

  .list-item {
    margin-right: 20px;
  }
}
